<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>639566162300-rh10to383c10h4sr15to6d2p3hm1s7hf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639566162300-rh10to383c10h4sr15to6d2p3hm1s7hf</string>
	<key>API_KEY</key>
	<string>AIzaSyBHYfUG5uvr7pQkFbpXItXNUtYigS871E0</string>
	<key>GCM_SENDER_ID</key>
	<string>639566162300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>swu.ac.kr.Pan</string>
	<key>PROJECT_ID</key>
	<string>neonamun-8eec4</string>
	<key>STORAGE_BUCKET</key>
	<string>neonamun-8eec4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:639566162300:ios:04fc4fc8882862e3</string>
	<key>DATABASE_URL</key>
	<string>https://neonamun-8eec4.firebaseio.com</string>
</dict>
</plist>